@import "../fonts/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/scss/fontawesome.scss";
@import "../fonts/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/scss/solid.scss";
@import "../fonts/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/scss/brands.scss";
