$default-font: "Poppins";
$openSans-Bold: "OpenSans_Bold";
$openSans-Medium: "OpenSans_Medium";
$openSans-Light: "OpenSans_Light";
$accent: orange;
$text: #333;
$fa-font-path: "/fonts/fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/webfonts";
//font size
$base_size: 10px;
//colors
$pink: hsl(322, 100%, 66%);
$light_pink: hsl(321, 100%, 78%);
$very_pale_blue: hsl(207, 100%, 98%);
$very_dark_cyan : hsl(192, 100%, 9%);

