$default-font: "poppins", sans-serif;
$openSans-Bold: "OpenSans-Bold", sans-serif;
$openSans-Medium: "OpenSans-Medium", sans-serif;
$openSans-Light: "OpenSans-Light", sans-serif;
$accent: orange;
$text: #333;

//font size
$base_size: 10px;
//colors
$pink: hsl(322, 100%, 66%);
$light_pink: hsl(321, 100%, 78%);

