$default-font: "Poppins";
$openSans-Bold: "OpenSans_Bold";
$openSans-Medium: "OpenSans_Medium";
$openSans-Light: "OpenSans_Light";
$accent: orange;
$text: #333;

//font size
$base_size: 10px;
//colors
$pink: hsl(322, 100%, 66%);
$light_pink: hsl(321, 100%, 78%);

