@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}
::selection {
	background-color: $accent;
	color: #fff;
}
:root {
	font-size: $base_size;
}
body {
	font-size: 1.4rem;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}
.container {
	padding: 0 4.7rem;
	display: flex;
	justify-content: space-between;
}
.logo, .btn-lg {
	margin-top: 8rem;
}
.logo {
	margin-left: 3.6rem;
}
.btn-lg {
	font-size: 1.8rem;
	text-transform: capitalize;
	border: 1px solid $pink;
	border-radius: 2rem;
	padding: 0 2.5rem;
  height: 3.4rem;
	margin-right: 8rem;
	> a {
		font-family: $openSans-Medium;
		text-decoration: none;
		color: $pink;
	}
}
.text_block {
	text-align: center;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}



@import "media";
