@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Poppins/Poppins_Bold.ttf") format("ttf");
}
@font-face {
  font-family: "OpenSans_Bold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Open_Sans/OpenSans_Bold.ttf") format("ttf");
}
@font-face {
  font-family: "OpenSans_Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Open_Sans/OpenSans_Medium.ttf") format("ttf");
}
@font-face {
  font-family: "OpenSans_Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Open_Sans/OpenSans_Light.ttf") format("ttf");
}
::placeholder {
  color: #666;
}

::selection {
  background-color: orange;
  color: #fff;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Poppins";
  overflow-x: hidden;
  color: #333;
  margin: 0;
}
body input, body textarea {
  border: #666 1px solid;
  outline: none;
}
body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}
body input:required:valid, body textarea:required:valid {
  border-color: green;
}

header {
  padding: 0 4.7rem;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0 4.7rem;
  position: relative;
}

.logo, .btn-lg {
  margin-top: 8rem;
}

.logo {
  margin-left: 3.6rem;
}

.btn-lg {
  font-size: 1.8rem;
  text-transform: capitalize;
  border: 1px solid #ff52bf;
  border-radius: 2rem;
  padding: 0 2.5rem;
  height: 3.4rem;
  margin-right: 8rem;
}
.btn-lg > a {
  font-family: "OpenSans_Medium", sans-serif;
  text-decoration: none;
  color: #ff52bf;
}

.text_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.text_block > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 5.4rem;
  font-weight: 700;
  margin-top: 21rem;
  margin-bottom: 0;
}
.text_block > p {
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  width: 67rem;
  word-spacing: 3px;
  line-height: 1.4;
}
.text_block > .btn {
  margin-top: 2.3rem;
  margin-right: 1rem;
  background-color: #ff8fd8;
  padding: 2rem 10rem;
  border-radius: 3rem;
}
.text_block > .btn > a {
  font-family: "Poppins";
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
}

.statistic_blok {
  display: flex;
}

.statistic_item:first-child {
  width: 50%;
  padding-left: 23.7rem;
  padding-top: 11rem;
}
.statistic_item:last-child {
  width: 50%;
  padding-left: 2rem;
  padding-top: 12rem;
}
.statistic_item > span {
  font-family: "OpenSans_Bold", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  line-height: 1.2;
}
.statistic_item > p {
  font-family: "OpenSans_Medium", sans-serif;
  font-size: 3.5rem;
  margin: 0;
}

.section-one, .section-two, .section-tree {
  display: flex;
  height: 30rem;
  margin-top: 46rem;
  padding: 0 13rem;
  position: relative;
}
.section-one > .simular-text, .section-two > .simular-text, .section-tree > .simular-text {
  width: 56rem;
}
.section-one > .simular-text > h2, .section-two > .simular-text > h2, .section-tree > .simular-text > h2 {
  font-family: "OpenSans_Bold", sans-serif;
  font-size: 4.3rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
.section-one > .simular-text > p, .section-two > .simular-text > p, .section-tree > .simular-text > p {
  width: 52rem;
  font-family: "OpenSans_Medium", sans-serif;
  font-size: 1.7rem;
  line-height: 1.4;
}

.section-one {
  background-color: #f5faff;
}
.section-one::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: -16.5rem;
  background-image: url(/img/huddle-lp/bg-section-top-desktop-1.svg);
  width: 100%;
  height: 16.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-one::before {
  content: "";
  position: absolute;
  background-image: url(/img/huddle-lp/bg-section-top-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
  height: 15.6rem;
  left: 0;
  right: 0;
  bottom: -7.6rem;
  transform: rotate(180deg) translateY(-50%);
}

.section-two {
  flex-direction: row-reverse;
}
.section-two > .fix_img > .fix_img_ch {
  height: 38rem;
  margin-top: -7rem;
  margin-right: 16rem;
}
.section-two > .simular-text > h2 {
  font-size: 4.2rem;
  margin-top: 5rem;
  margin-left: -3rem;
}
.section-two > .simular-text > p {
  margin-left: -3rem;
}

.section-tree {
  background-color: #f5faff;
}
.section-tree::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: -24.5rem;
  background-image: url(/img/huddle-lp/bg-section-bottom-desktop-1.svg);
  width: 100%;
  height: 16.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg) translateY(-50%);
}
.section-tree::before {
  content: "";
  position: absolute;
  background-image: url(/img/huddle-lp/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
  height: 15.6rem;
  left: 0;
  right: 0;
  bottom: -15.6rem;
}
.section-tree > .fix_img > .fix_img_ch {
  height: 40rem;
  margin-top: -17rem;
}
.section-tree > .simular-text > h2 {
  z-index: 10;
  margin-top: -2rem;
  margin-left: -1rem;
}
.section-tree > .simular-text > p {
  margin-left: -1rem;
}

.-bottom-btn {
  margin-top: 7rem;
}
.-bottom-btn > .text_block > h2 {
  font-size: 4.3rem;
  text-transform: capitalize;
  margin-top: 23rem;
}
.-bottom-btn > .text_block > .btn {
  margin-top: 2.7rem;
}

.fix_img {
  margin: auto;
  z-index: 10;
}

.fix_img_ch {
  height: 42rem;
  margin-top: -11rem;
}

.img_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11rem;
  margin-right: 6rem;
}

.img_responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img_responsive.img_width {
  width: 100%;
}

.footer {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: [c] 66rem [c] 52rem;
  grid-template-rows: [row] auto;
  background-color: #00252e;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  height: 77rem;
  margin-top: 40rem;
  color: #f5faff;
  padding: 6rem 12rem;
}
.footer::after {
  content: "";
  position: absolute;
  background-image: url(/img/huddle-lp/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 1;
  height: 15.6rem;
  left: 0;
  right: 0;
  bottom: 88.4rem;
}
.footer .logo-a {
  fill: #f5faff;
}
.footer > .info-gr {
  grid-column: c/span;
  grid-row: row;
}
.footer .submit-gr {
  grid-column: c 2/span;
  grid-row: row;
}
.footer .submit-gr input, .footer .submit-gr button {
  appearance: none;
}

/*==========  Desktop First  ==========*/
/*==========  Mobile First  ==========*/