@font-face {
  font-family: "poppins";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Poppins/Poppins-Bold.eot");
  src: url("../fonts/Poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("/app/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.eot");
  src: url("/app/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.woff") format("woff"), url("/app/fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
::placeholder {
  color: #666;
}

::selection {
  background-color: orange;
  color: #fff;
}

body {
  font-size: 12rem;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
  color: #333;
}
body input, body textarea {
  border: #666 1px solid;
  outline: none;
}
body input:focus:required:invalid, body textarea:focus:required:invalid {
  border-color: red;
}
body input:required:valid, body textarea:required:valid {
  border-color: green;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-responsive.img-width {
  width: 100%;
}

/*==========  Desktop First  ==========*/
/*==========  Mobile First  ==========*/